* ,  *::before , *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a , p {
    color: #555;
}

header img {
    width: 200px;
    margin: 3% 0 0 3%;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 4;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    transform: translateX(-100%);
    z-index: 3;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }

  @keyframes slide {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translate(0);
      }
  }

  nav.globalMenuSp.active {
    animation: slide .5s forwards;
  }

  .information {
      text-align: center;
      margin-top: -5%;
  }

  .main_title {
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      margin-bottom: 5%;
      text-align: center;
  }

  .information img {
      width: 100%;
  }

  .text {
      padding: 5%;
  }

  .news {
      margin-top: 12%;
  }

  .news_contents {
      padding: 5%;
      background-image: url(img/xsCHjUtg.png);
      background-color: rgba(255,255,255,.5);
      background-blend-mode: lighten;
  }

  .news_content {
      margin-bottom: 5%;
  }

  .news_date {
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
  }

  .news_title {
    margin: 2%;
  }

  .institution_info {
      margin-top: 12%;
  }

  .img_wrap {
      position: relative;
  }

  .institution_info img {
      width: 100%;
  }
  
  .point {
      position: absolute;
  }

  .one {
    top: 55px;
    left: 104px;
  }

  .two {
    top: 108px;
    left: 19px;
  }

  .three {
    top: 118px;
    left: 152px;
  }

  .four {
    top: 50px;
    left: 203px;
  }

  .five {
    top: 85px;
    left: 272px;
  }

  .six {
    top: 102px;
    right: 42px;
  }

  .seven {
    top: 19px;
    right: 98px;
  }

  .institution_contents {
      text-align: center;
      margin: 5% auto;
  }

  .contents_title {
      text-align: left;
      margin-left: 5%;
      margin-bottom: 5%;
      font-size: 24px;
  }

  .institution_contents img {
      width: 80%;
      height: 230px;
      object-fit: cover;
      box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  }
  
  .contents_text {
    margin: 5%;
    text-align: left;
}

.access {
    margin-top: 12%;
}

.access img {
    width: 100%;
}

.text_block {
    padding: 3%;
}

.access_title {
    font-size: 20px;
    font-weight: bold;
}

.map {
    text-align: center;
}

iframe {
    width: 80%;
}

footer p {
    text-align: center;
    margin: 5% auto;
}

footer img {
    width: 35px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 4;
}