* ,  *::before , *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a , p {
    color: #555;
}

header img {
    width: 200px;
    margin: 3% 0 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 5;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }

  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#555;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#555;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: #fff;
    text-align: center;
    width: 100%;
    transform: translateX(-100%);
    z-index: 4;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  nav.globalMenuSp ul li {
    background-size: cover;
    background-position: center;
    border-top: solid 5px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    transform: translateX(100%);
    transition: .4s all;
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes delay {
    0% {
      opacity: 0;
      transform: translate(100%);
    }
    100% {
      opacity: 1;
      transform: translate(0);
      visibility: inherit;
    }
  }
  
  nav.globalMenuSp.active ul li:nth-of-type(1) {
    background-image: url(img/11095.jpg);
    background-position: top;
    animation: delay 1s .2s forwards;
  }

  nav.globalMenuSp.active ul li:nth-of-type(2) {
    background-image: url(img/87fd25e9e12ab45c1a3223519e84a0cb_7a508d4f360e0de2b6a9cb76639e11e7.jpg);
    animation: delay 1s .4s forwards;
  }
  
  nav.globalMenuSp.active ul li:nth-of-type(3) {
    background-image: url(img/6031cb98c38b9f4955c4522693dae1ba_a65fdb9180ed1378f9d582086bce4f80.jpg);
    animation: delay 1s .6s forwards;
  }

  nav.globalMenuSp.active ul li:nth-of-type(4) {
    background-image: url(img/323ae57111f287f9cca4bece9e2588c2_eaa2b17ab479510b8a137ab8f2a7bbd5.jpg);
    animation: delay 1s .8s forwards;
  }

  nav.globalMenuSp.active ul li:last-child {
    background-image: url(img/e56ac50b951122a1056848c3844eb4c1_a10823307e8c30a6d4241e0a689978ae.jpg);
    animation: delay 1s 1s forwards;
    border-bottom: solid 5px;
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,.5);
    padding: 10% 0;
    text-decoration :none;
  }

  .slider_wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 3;
  }

  .flexslider {
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes slide {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translate(0);
      }
  }

  nav.globalMenuSp.active {
    animation: slide .5s forwards;
  }

  .img_wrap {
    text-align: center;
    position: relative;
  }
  
  .information img {
    width: 100%;
  }

  img.harvest_img {
    width: 80%;
  }

  .information {
      text-align: center;
      margin-top: 15%;
  }

  .main_title {
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      margin-bottom: 5%;
      text-align: center;
  }

  .text {
      padding: 5%;
      color: #b3a08f;
  }

  .news {
      margin-top: 15%;
  }

  .news_contents {
      padding: 5%;
      background-color: #f5f5f5;
      background-blend-mode: lighten;
  }

  .news_content {
      margin-bottom: 5%;
  }

  .news_date {
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #b3a08f;
  }

  .news_title {
    margin: 2%;
  }

  .btn {
    color: #fff;
    font-weight: bold;
    background-color: #b3a08f;
    padding: 3% 5%;
    margin: 3% auto;
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  }

  .institution_info {
      margin-top: 15%;
  }

  .institution_info img {
      width: 100%;
  }
  
  .point {
      position: absolute;
  }

  .one {
    top: 27%;
    left: 27.5%;
  }

  .two {
    top: 54%;
    left: 5%;
  }

  .three {
    top: 60%;
    left: 40.5%;
  }

  .four {
    top: 25%;
    left: 54%;
  }

  .five {
    top: 42%;
    left: 72.5%;
  }

  .six {
    top: 51%;
    right: 11%;
  }

  .seven {
    top: 10%;
    right: 26%;
  }

  .institution_contents {
      text-align: center;
      margin: 15% auto;
  }

  .contents_title {
      text-align: left;
      margin-left: 5%;
      margin-bottom: 5%;
      font-size: 24px;
  }

  .institution_contents img {
      width: 80%;
      height: 230px;
      object-fit: cover;
  }
  
  .contents_text {
    margin: 5%;
    text-align: left;
    color: #b3a08f;
}

.access {
    margin-top: 15%;
}

.access img {
    width: 100%;
}

.text_block {
    padding: 3%;
}

.access_title {
    font-size: 20px;
    font-weight: bold;
}

.access_text {
    color: #b3a08f;
}

.map {
    text-align: center;
}

iframe {
    width: 80%;
}

footer p {
    text-align: center;
    margin: 5% auto;
}

.footer_wrap {
    text-align: center;
}

.footer_bnr {
    margin-top: 3%;
}

.facebook {
    width: 35px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 4;
}

.main_title small {
  font-size: 14px;
}

.menu {
  margin: 15% auto;
}

.menu_img {
  width: 80%;
}

.menu_title {
  font-size: 20px;
  font-weight: bold;
  margin: 5% auto 3%;
}

.price {
  text-align: right;
  margin-right: 5%;
  font-size: 18px;
}

.other_menu {
  display: flex;
  align-items: center;
  padding: 3%;
}

.other_menu_img {
  width: 100%;
}

